.col-form-label {
  font-size: 32px;
}

.btn-block {
  font-size: 36px;
  padding: 10px;
  border-bottom: 4px #4682b4 solid;
  position: relative;
  top: 4rem;
}

.custom-container {
  width: 40%;
  position: relative;
  top: 20rem;
}
